includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 2
    ignoreErrors:
        #- '#PHPDoc tag @var#' # recommended in laravel 10
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder#' # local Scope recognition is not good enough in larastan

    checkMissingIterableValueType: false
